html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  color: #2c3d73;
}

body {
  max-width: 100%;
  padding: 0;
  background-color: #f15b42;
  padding-bottom: 20px;
}

.container {
  border-radius: 5px;
  background-color: #f15b42;
  padding: 5px;
  box-sizing: border-box;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #ffd372;
  border-radius: 5px;
  padding: 5px;
}

header a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: medium;
  background-color: #f15b42;
  color: #2c3d73;
  padding: 5px 25px;
  border-radius: 5px;
  margin: 5px;
}

header a:hover,
button:hover {
  background-color: #2c3d73;
  color: #f15b42;
}

.logo img {
  width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 5px;
  margin-top: 20px;
}

.title,
.filter {
  background-color: #ffd372;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  padding: 5px;
}

.filter {
  background-color: #ffd372;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.filter button {
  margin-left: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content,
.dropdown-content-company,
.dropdown-content-name {
  display: none;
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  background-color: #ffd372;
  min-width: 150px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li,
.dropdown-content-company li,
.dropdown-content-name li {
  cursor: pointer;
  list-style: none;
  text-align: left;
  padding: 2px;
}

.dropdown-content li:hover,
.dropdown-content-company li:hover,
.dropdown-content-name li:hover {
  background-color: #f15b42;
  border-radius: 5px;
}

.city-input,
.company-input,
.name-input {
  border-radius: 5px;
  margin-left: 5px;
  padding: 8px;
  background-color: #ffd372;
  color: #2c3d73;
}

.restaurant-container {
  display: none;
}

.restaurant {
  background-color: #ffd372;
  padding: 5px;
  border-radius: 5px;
}

.restaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.restaurant button {
  color: #2c3d73;
  text-decoration: none;
  font-size: small;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
}

.restaurant button:hover {
  background-color: #2c3d73;
  color: #f15b42;
}

.register,
.login,
.profile {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  padding: 25px 200px 25px 200px;
  border-radius: 5px;
  background-color: #ffd372;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details img {
  border-radius: 5px;
}

input {
  box-sizing: border-box;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #f15b42;
  color: #2c3d73;
  border-radius: 5px;
  border-style: none;
}

dialog {
  background-color: #ffd372;
  border-radius: 5px;
  border-color: #f15b42;
  width: 80%;
  height: 80%;
}

dialog button {
  margin-top: 20px;
}

.map {
  display: flex;
}

.map-modal {
  width: 80%;
}

.map-container {
  display: none;
}

.show-map .map-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.show-list .restaurant-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.pop-up button {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

table {
  color: #2c3d73;
  border-radius: 5px;
  margin-bottom: 20px;
}

th {
  background-color: #ffd372;
}

td {
  border-style: solid;
  border-color: #f15b42;
  border-radius: 5px;
  padding: 5px;
}

.course-td {
  width: 50%;
}

.price-td {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: small;
  }
  .show-list .restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .restaurant img {
    width: 100%;
  }

  .show-map .map-container {
    width: auto;
    height: 200px;
  }
}
