html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f15b42;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #2c3d73;
}

.container {
  border-radius: 5px;
  background-color: #f15b42;
  padding: 5px;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #ffd372;
  border-radius: 5px;
  padding: 5px;
}

header a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: medium;
  color: #2c3d73;
  padding: 5px 25px;
}

header a:hover,
.restaurant a:hover {
  background-color: #f15b42;
}

.logo img {
  width: 100%;
  height: auto;
  max-height: 800px;
  border-radius: 5px;
  margin-top: 5px;
}

.title {
  background-color: #ffd372;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  padding: 5px;
}

.restaurant-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.restaurant {
  background-color: #ffd372;
  padding: 5px;
  border-radius: 5px;
}

.restaurant img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
}

.restaurant a {
  color: #2c3d73;
  text-decoration: none;
  font-size: small;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
